@model VeterinaryClinic.Web.JorgePinto.Models.MedicViewModel


<div class="form-group">
    <label asp-for="OMV" class="control-label"></label>
    <input asp-for="OMV" class="form-control" />
    <span asp-validation-for="OMV" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CellPhone" class="control-label"></label>
    <input asp-for="CellPhone" class="form-control" />
    <span asp-validation-for="CellPhone" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label 
        asp-for="ImageFile" class="control-label">        
    </label>
    <input asp-for="ImageFile" class="form-control" type="file" />
    <span asp-validation-for="ImageFile" class="text-danger"></span>
</div>



