@{
	ViewData["Title"] = "Send Message";
}

<h2 class="text-success"> Message sent successfully! </h2>
<br/>
<a asp-action="Contact" class="btn btn-outline-success"><i class="fa-solid fa-rotate-left"></i> Back to List</a>